.section{
    height: 75vh;
    border-radius: 9px/8px;
}

h3{
    color: darkcyan;
}

#quiz-menu{
    background-color: rgba(200, 200, 200, 0.15);
    color: grey;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    height: 35px;
    border-left: solid 1px darkcyan;
    border-right: solid 1px darkcyan;
    box-shadow: inset 25px 0 10px -10px rgba(0, 139, 139, 0.10), inset -25px 0 10px -10px rgba(0, 139, 139, 0.10);
}

.quiz-menu-item{
    display: inline-block;
    list-style: none;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 2.5px;
    margin-right: 50px;
  }
  
  .quiz-menu-item:hover{
    color: darkcyan;
    transform: scale(1.25);
    transform-origin: center;
    cursor: pointer;
  }