body{
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  text-align: start;
  background-image: linear-gradient(to top left, silver, white);
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  width: 100vw;
}

h1{
  display: inline;
  font-style: italic;
  font-size: 50px !important;
  text-decoration: underline;
  text-decoration-color: darkcyan;
}

.row{
  height: 75vh;
  margin-top: 5vh !important;
}

#content{
  padding: 25px;
  background-image: linear-gradient(to bottom, white, silver);
  border-radius: 9px/8px;
  border: 1px darkcyan solid;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 75vh;
}

#menu{
  text-align: end;
  color: grey;
}

.menu-item{
  list-style: none;
  font-size: large;
  margin-bottom: 5px;
}

.menu-item:hover{
  color: darkcyan;
  transform: scale(1.25);
  transform-origin: right center;
  cursor: pointer;
}