body{
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  text-align: start;
  background-image: linear-gradient(to top left, lightcyan, white);
  background-repeat: repeat;
  background-attachment: fixed;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  min-height: 100vh;
  min-width: 100vw;
}

h1{
  display: inline;
  font-style: italic;
  font-size: 50px !important;
  text-decoration: underline;
  text-decoration-color: darkcyan;
}

.row{
  height: 75vh;
  margin-top: 5vh !important;
  padding-left: 35px;
  padding-right: 35px;
}

#content{
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9px/8px;
  border: 1px darkcyan solid;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 75vh;
}

#menu{
  text-align: end;
  color: gray;
  border-radius: 9px/8px;
  border-top: solid 1px darkcyan;
  border-right: solid 1px darkcyan;
  border-image: linear-gradient(to left, darkcyan 50%, transparent 75%) 1;
  min-width: 220px;
}

.menu-item{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-item:hover{
  color: darkcyan;
  transform: scale(1.25);
  transform-origin: right center;
  cursor: pointer;
}